<h1>List of Employees</h1>
<div class="container">
    <table class="table" id="table">
        <thead>
            <tr>
                <th class="table-column">Name</th>
                <th class="table-column">Total Time in Month</th>
                <th class="table-column">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let e of employeesHours" [ngClass]="e.Hours > 100 ? 'not-less' : 'less'" >
                <td>{{e.EmployeeName}}</td>
                <td >{{ e.Hours }} hrs</td>
                <td><button><a href="#">Edit</a></button> </td>
            </tr>
        </tbody>
    </table>
    <br>
    <br>
    <hr>
    <br>
    <br>
</div>
<div id="chart">
    <h2>Chart</h2>
    <canvas id="employeesChart" width="400" height="400"></canvas>
</div>
