<h1>List of Employees</h1>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th class="table-column">Name</th>
                <th class="table-column">Total Time in Month</th>
                <th class="table-column">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let e of employeesHours">
                <td text-align="left"><span>{{e.EmployeeName}}</span></td>
                <td text-align="left"><span>{{e.Hours}} hrs</span> </td>
                <td text-align="left"><button><a href="#">Edit</a></button> </td>
            </tr>
        </tbody>
    </table>

</div>